<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Krento.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup/><userSettings>
		<Krento.Properties.Settings>
			<setting name="AskForCheck" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="LastCheck" serializeAs="String">
				<value/>
			</setting>
			<setting name="PulsarLeft" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="PulsarTop" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="Website" serializeAs="String">
				<value>http://users.telenet.be/serhiy.perevoznyk</value>
			</setting>
			<setting name="ManagerLeft" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="ManagerTop" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="ShowPulsar" serializeAs="String">
				<value>True</value>
			</setting>
		</Krento.Properties.Settings>
	</userSettings>
</configuration>
